.ocean {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 45%;
    background-color: var(--ion-color-primary);

    .waves {
        position: absolute;
        top: -100px;
        left: 0;
        right: 0;
        height: 100px;
        background-image: url("/assets/images/waves.png");
        background-size: contain;
        transition: 0.5s;
    }
}
